spring:
  application:
    name: petlog
  datasource:
    url: "${DB_URL}"
    username: "${DB_USERNAME}"
    password: "${DB_PASSWORD}"
    driverClassName: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

token:
  secret: "${TOKEN_SECRET}"
  expiration-time: "${TOKEN_EXPIRATION_TIME}"

springdoc:
  api-docs:
    path: "${SWAGGER_DOCS}"
  swagger-ui:
    path: "${SWAGGER_UI}"
