server:
  port: 8080

spring:
  ai:
    openai:
      api-key: "${API_KEY}"
  application:
    name: user-service
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB